# For now: Smallj.org Website
Website/

# Windows shortcuts, copies, scripts.
*.lnk
* - Copy*
*.ps1

# Compiled class file
*.class

# IntelliJ output folder & workspace
VM/out
VM/.idea/workspace.xml

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Personal messages
Feedback/


# Smalltalk testing is only a scratchpad now
Smalltalk/Test

# Package Files #
# We need these: *.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
