# For now: Smallj.org Website
Website/

# For now: Smalltalk Test folder, contains only scratch files
Smalltalk/Test

# Windows shortcuts, copies, scripts.
*.lnk
* - Copy*
*.ps1

# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Personal messages
Feedback/

# Package Files #
# We need these: *.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
